language: cpp
env:
  global:
    - secure: pQuG5nGUf30xNXDZazPsewC/FyCwO41zsRUwUvG1+k3uqVUWe3QQLKV8wlwFelECw7X6blWbSMyvqMr5k96Vysk++nGT9yam0zTeRd9AFF/B3fuOnihrLMiS7taIU8P0NE3cB0AvkjHzpiMXpA01lKfzWA6dlcv5ETXowXuCGq1A2yH0iuK5bst3xqjUx/cg369nxFad2CHLOs77a238yrgsMUNPEMwYlz1eSLzLV1Cukrqu1zz7KyVnOrP9kQM5A/UELH/eAYP5FftFmzRjClgBrfY2olCB8dKynU6dnCzElSApAGhd/fbLiHubgf00kbowk4HDMb7PmgoGhzv3IqxMdX672lMEknRGQFsJ/Vr3HZMkSQQfVFxAXcCHPZyaYqgblZqb0bFFl4YXHcsf74z2i7vn5eamdXGmzo2BhSHSOKKnPBPzPl49vy9JgsOK6r92hsQCUvG+ydjPsrYHwKNfJRwuGSFPklUxJOGweu7po9eaQ3g4+PIkF5L0/4loNw1K/UFixGNLAYIVwiu3abySKRkV22cIniIaD7MynUrQo3vRL8THQbml/vZCud8tPKcGDZfrk+QO1d13uQYYawK9TaJ7Vxht8RN/v/LC+clWiRVTT36OViDiUZWp6FlPhR7vLhY0oQqsJi82U+qbyuO/vXPq9QTeC6FdaNsbCs4=

if: tag IS present

git:
  lfs_skip_smudge: true
  depth: 2

before_install:
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - eval "${MATRIX_EVAL}"

stages:
  - name: build

jobs:
  include:
    - stage: build
      name: m1-transcode Linux-x86_64
      os: linux
      sudo: required
      dist: bionic
      cache:
        timeout: 1000
        directories:
          - ${TRAVIS_BUILD_DIR}/libs
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - build-essential
            - libasound2-dev
            - libvorbis-dev
            - libflac-dev
            - libopus-dev
            - libogg-dev
            - libmpg123-dev
            - libmp3lame-dev
            - libtool
            - libpthread-stubs0-dev
            - libboost-all-dev
            - cmake
            - awscli
          update: true
      git:
        submodules: false
      install:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/setup.sh
      script:
        - cmake . -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF
        - cmake --build . --config Release
      after_success:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} linux-x64 m1-transcode
        - cd ${TRAVIS_BUILD_DIR}
        - find m1-transcode-linux-x64 -path '*/.*' -prune -o -type f -print | zip m1-transcode-linux-x64.zip -@
        - mkdir -p output
        - cp ${TRAVIS_BUILD_DIR}/m1-transcode-linux-x64.zip ${TRAVIS_BUILD_DIR}/output/m1-transcode-linux-x64.zip
        - aws s3 cp ${TRAVIS_BUILD_DIR}/m1-transcode s3://${AWS_DEPLOY_BUCKET}/executables/linux/m1-transcode --cache-control no-cache --metadata-directive REPLACE

    - stage: build
      name: m1-transcode Linux-ARM64
      os: linux
      sudo: required
      arch: arm64
      dist: bionic
      cache:
        timeout: 1000
        directories:
          - ${TRAVIS_BUILD_DIR}/libs
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - build-essential
            - libasound2-dev
            - libvorbis-dev
            - libflac-dev
            - libopus-dev
            - libogg-dev
            - libmpg123-dev
            - libmp3lame-dev
            - libtool
            - libpthread-stubs0-dev
            - gcc-arm-linux-gnueabi
            - binutils
            - patch
            - libssl-dev
            - bc
            - flex
            - bison
            - gawk
            - libncurses5-dev
            - gettext
            - autoconf
            - texinfo
            - libboost-all-dev
            - cmake
            - awscli
          update: true
      env:
        - CROSS_COMPILE=arm-none-eabi-
        - CC=$(CROSS_COMPILE)gcc 
        - CXX=$(CROSS_COMPILE)g++
      git:
        submodules: false
      install:
        - sudo apt remove binutils-arm-none-eabi gcc-arm-none-eabi libnewlib-arm-none-eabi
        - cd ${TRAVIS_BUILD_DIR}
        - wget --quiet https://developer.arm.com/-/media/Files/downloads/gnu-rm/7-2018q2/gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2
        - tar -xf gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2
        - cd gcc-arm-none-eabi-7-2018-q2-update
        - export PATH=${TRAVIS_BUILD_DIR}/gcc-arm-none-eabi-7-2018-q2-update/bin/:$PATH
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/setup.sh
      script:
        - cmake . -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF
        - cmake --build . --config Release
      after_success:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} linux-arm m1-transcode
        - cd ${TRAVIS_BUILD_DIR}
        - find m1-transcode-linux-arm -path '*/.*' -prune -o -type f -print | zip m1-transcode-linux-arm.zip -@
        - mkdir -p output
        - cp ${TRAVIS_BUILD_DIR}/m1-transcode-linux-arm.zip ${TRAVIS_BUILD_DIR}/output/m1-transcode-linux-arm.zip
        - aws s3 cp ${TRAVIS_BUILD_DIR}/m1-transcode s3://${AWS_DEPLOY_BUCKET}/executables/linux-arm/m1-transcode --cache-control no-cache --metadata-directive REPLACE

    - stage: build
      name: m1-transcode Windows
      os: windows
      language: sh
      env:
        - VCPKG_ROOT=${TRAVIS_BUILD_DIR}/vcpkg
        - VCPKG_PATH=${VCPKG_ROOT}
        - VCPKG_DEFINES="-DCMAKE_TOOLCHAIN_FILE=${TRAVIS_BUILD_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake"
      cache:
        timeout: 1000
        directories:
          - ${TRAVIS_BUILD_DIR}/vcpkg
          - ${TRAVIS_BUILD_DIR}/.cache/vcpkg
          - ${TRAVIS_BUILD_DIR}/libs
      git:
        submodules: false
      install:
        - cd ${TRAVIS_BUILD_DIR}
        - if [ -d "${TRAVIS_BUILD_DIR}/vcpkg/.git" ] ; then echo vcpkg cached ; else rm -rf vcpkg ; git clone https://github.com/Microsoft/vcpkg ; fi
        - cd vcpkg
        - git checkout .
        - git pull
        - ./bootstrap-vcpkg.bat
        - cd ${TRAVIS_BUILD_DIR}
        - choco install -y cmake --installargs 'ADD_CMAKE_TO_PATH=System'
        - choco install -y make
        - choco install -y awscli
        - choco install -y zip
        - choco install -y boost-msvc-14.1
        - choco install -y pkgconfiglite
        - export PATH="$(powershell -Command '("Process", "Machine" | % {[Environment]::GetEnvironmentVariable("PATH", $_) -Split ";" -Replace "\\$", ""} | Select -Unique | % { cygpath $_ }) -Join ":"')"
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install libvorbis:x64-windows libvorbis:x64-windows-static libvorbis:x86-windows libflac:x64-windows libflac:x64-windows-static libflac:x86-windows opus:x64-windows opus:x64-windows-static opus:x86-windows mp3lame:x64-windows mp3lame:x64-windows-static mp3lame:x86-windows mpg123:x64-windows mpg123:x64-windows-static mpg123:x86-windows
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/setup.sh
      script:
        - cd ${TRAVIS_BUILD_DIR}
        - cmake . -DENABLE_PACKAGE_CONFIG=ON -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF -DENABLE_STATIC_RUNTIME=ON -DCMAKE_EXE_LINKER_FLAGS="-static" -DCMAKE_TOOLCHAIN_FILE=${TRAVIS_BUILD_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake -B_builds/vs-15-2017 -G "Visual Studio 15 2017" -A Win32 -DCMAKE_INSTALL_PREFIX=_install/vs-15-2017
        - cmake --build _builds/vs-15-2017 --config Release --target install -- //nologo //verbosity:quiet //clp:ErrorsOnly
        - cmake . -DENABLE_PACKAGE_CONFIG=ON -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF -DENABLE_STATIC_RUNTIME=ON -DCMAKE_EXE_LINKER_FLAGS="-static" -DCMAKE_TOOLCHAIN_FILE=${TRAVIS_BUILD_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static -B_builds/vs-15-2017-win64 -G "Visual Studio 15 2017" -A x64 -DCMAKE_INSTALL_PREFIX=_install/vs-15-2017-win64
        - cmake --build _builds/vs-15-2017-win64 --config Release --target install -- //nologo //verbosity:quiet //clp:ErrorsOnly
      after_success:
        # zip up win-x64
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} win-x64 _install\vs-15-2017-win64\build\m1-transcode.exe
        - find m1-transcode-win-x64 -path '*/.*' -prune -o -type f -print | zip m1-transcode-win-x64.zip -@
        - mkdir -p output
        - cp m1-transcode-win-x64.zip ${TRAVIS_BUILD_DIR}/output/m1-transcode-win-x64.zip
        # zip up win-x86
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} win-x86 _install\vs-15-2017\build\m1-transcode.exe
        - find m1-transcode-win-x86 -path '*/.*' -prune -o -type f -print | zip m1-transcode-win-x86.zip -@
        - mkdir -p output
        - cp ${TRAVIS_BUILD_DIR}/m1-transcode-win-x86.zip ${TRAVIS_BUILD_DIR}/output/m1-transcode-win-x86.zip
        - aws s3 cp ${TRAVIS_BUILD_DIR}/_install/vs-15-2017/build/m1-transcode.exe s3://${AWS_DEPLOY_BUCKET}/executables/windows-x86/m1-transcode.exe --cache-control no-cache --metadata-directive REPLACE
        - aws s3 cp ${TRAVIS_BUILD_DIR}/_install/vs-15-2017-win64/build/m1-transcode.exe s3://${AWS_DEPLOY_BUCKET}/executables/windows-x86_64/m1-transcode.exe --cache-control no-cache --metadata-directive REPLACE

    - stage: build
      name: m1-transcode macOS
      os: osx
      addons:
        homebrew:
          packages:
            - libvorbis
            - libogg
            - flac
            - opus-tools
            - mpg123
            - lame
            - libtool
            - libpthread-stubs
            - awscli
      env:
        - HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1
        - HOMEBREW_NO_AUTO_UPDATE=1
      osx_image: xcode13.2
      cache:
        timeout: 1000
        directories:
          - ${TRAVIS_BUILD_DIR}/Library/Caches/Homebrew
          - ${TRAVIS_BUILD_DIR}/libs
      before_cache:
        - brew cleanup
      git:
        submodules: false
      install:
        - ./scripts/setup.sh
      script:
        - cmake . -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF
        - cmake --build . --config Release
      after_success:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} osx-x64 m1-transcode
        - find m1-transcode-osx-x64 -path '*/.*' -prune -o -type f -print | zip m1-transcode-osx-x64.zip -@
        - mkdir -p output
        - cp ${TRAVIS_BUILD_DIR}/m1-transcode-osx-x64.zip ${TRAVIS_BUILD_DIR}/output/m1-transcode-osx-x64.zip
        - aws s3 cp ${TRAVIS_BUILD_DIR}/m1-transcode s3://${AWS_DEPLOY_BUCKET}/executables/unix/m1-transcode --cache-control no-cache --metadata-directive REPLACE

before_deploy: 
  - cd ${TRAVIS_BUILD_DIR}
  - git config user.email "whatsup@mach1.tech"
  - git config user.name "Mach1-Bot"

deploy:
  provider: releases
  api_key:
    secure: Mpm1P5Wtvhe65sF4NeB1K5C07ogF2gn355qaKhy6Lw2FT9mQPRjB+DKgkxNPClw34nQ8+ckPcJwTM/g0l0LQCmiRS42MfyA8D946nkzjXOFRRFYE4rOG/4DcBM9+l/1OCGi7mso44yZIf1OMoQ2Ow7zeLKMNw4PWxEypnik8Pl5/oW8L5ZsJFsEv/fqGDcEu1LigQg7CVQf6wHXtc4uZYF+ABjox1DUimeOcc7TLDqzviT1D63VpzE485vgnikl10CBApJO5D+PB/NFQAjmZScGbJmk3H4gzN5QyqejEtzTuL8LJd/u/U94yq8xFPlM8OGjyTCVNUVOLQviM3Map0Y1d74AS1CTe9eyVnCK5bGvmF6zgoqekOWaelb7BLydRvlOcApS8ZpEsPc0NnBfeF9CgpC1odBdbXMDolQth6BKlPhNLs8Ve114InKmvib45Dnr/eZxkgVtr6cQ2caObG0bIiC3ASR2m98fKzJ60LbrQzmQXYxij2YkHH/QIFqIxb3D/9rF416iF4XEpd6jHxssritK0tcYWQhR/UP16dfki+hJm1BkHfwsyqvkrmaItE74AIfaw3b4HKW2bfHKVuDsYruxkOvyI+9S9xQt9hybZ5Jnni3WhYSuZ7r5xUPZN3CUwcF5h4JbqT8L+7Uctu3YEFwqkL3uxrN7+b+WmwIs=
  file_glob: true
  file: output/*
  on:
    repo: Mach1Studios/m1-transcode
    tags: true
  skip_cleanup: 'true'