language: cpp
env:
  global:
    - secure: pQuG5nGUf30xNXDZazPsewC/FyCwO41zsRUwUvG1+k3uqVUWe3QQLKV8wlwFelECw7X6blWbSMyvqMr5k96Vysk++nGT9yam0zTeRd9AFF/B3fuOnihrLMiS7taIU8P0NE3cB0AvkjHzpiMXpA01lKfzWA6dlcv5ETXowXuCGq1A2yH0iuK5bst3xqjUx/cg369nxFad2CHLOs77a238yrgsMUNPEMwYlz1eSLzLV1Cukrqu1zz7KyVnOrP9kQM5A/UELH/eAYP5FftFmzRjClgBrfY2olCB8dKynU6dnCzElSApAGhd/fbLiHubgf00kbowk4HDMb7PmgoGhzv3IqxMdX672lMEknRGQFsJ/Vr3HZMkSQQfVFxAXcCHPZyaYqgblZqb0bFFl4YXHcsf74z2i7vn5eamdXGmzo2BhSHSOKKnPBPzPl49vy9JgsOK6r92hsQCUvG+ydjPsrYHwKNfJRwuGSFPklUxJOGweu7po9eaQ3g4+PIkF5L0/4loNw1K/UFixGNLAYIVwiu3abySKRkV22cIniIaD7MynUrQo3vRL8THQbml/vZCud8tPKcGDZfrk+QO1d13uQYYawK9TaJ7Vxht8RN/v/LC+clWiRVTT36OViDiUZWp6FlPhR7vLhY0oQqsJi82U+qbyuO/vXPq9QTeC6FdaNsbCs4=

if: tag IS present

git:
  lfs_skip_smudge: true
  depth: 2

before_install:
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - eval "${MATRIX_EVAL}"

install:
  - pushd ${TRAVIS_BUILD_DIR}
  - if [ -d "${TRAVIS_BUILD_DIR}/vcpkg/.git" ] ; then echo vcpkg cached ; else rm -rf vcpkg ; git clone https://github.com/Microsoft/vcpkg ; fi
  - cd vcpkg
  - git checkout .
  - git pull
  - if [ "${USE_VCPKG}" = true ] ; then ./bootstrap-vcpkg.sh ; fi
  - if [ "${USE_VCPKG}" = true ] ; then echo "set(VCPKG_BUILD_TYPE release)" >> triplets/x64-osx.cmake ; fi
  - if [ "${USE_VCPKG}" = true ] ; then echo "set(VCPKG_BUILD_TYPE release)" >> triplets/x64-linux.cmake ; fi
  - if [ "${USE_VCPKG}" = true ] ; then rm -rf buildtrees; fi
  - if [ "${USE_VCPKG}" = true ] ; then rm -rf installed; fi
  - if [ "${USE_VCPKG}" = true ] ; then rm -rf packages; fi
  - popd

stages:
  - name: build

jobs:
  include:
    - stage: build
      name: m1-transcode Linux-x86_64
      os: linux
      sudo: required
      dist: focal
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - build-essential
            - g++-7
            - libopus-dev
            - libmpg123-dev
            - libpthread-stubs0-dev
            - rsync
            - awscli
            - libboost-all-dev
            - cmake
          update: true
      git:
        submodules: false
      install:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/setup.sh
      script:
        - cmake . -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF
        - cmake --build . --config Release
      after_success:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} linux-x64 m1-transcode
        - cd ${TRAVIS_BUILD_DIR}
        - find m1-transcode-linux-x64 -path '*/.*' -prune -o -type f -print | zip m1-transcode-linux-x64.zip -@
        - cp m1-transcode-linux-x64.zip ${TRAVIS_BUILD_DIR}/build/m1-transcode-linux-x64.zip

    - stage: build
      name: m1-transcode Linux-ARM64
      os: linux
      sudo: required
      arch: arm64
      dist: focal
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - build-essential
            - libopus-dev
            - libmpg123-dev
            - libpthread-stubs0-dev
            - rsync
            - awscli
            - gcc-arm-linux-gnueabi
            - binutils
            - patch
            - libssl-dev
            - bc
            - flex
            - bison
            - gawk
            - libncurses5-dev
            - gettext
            - autoconf
            - texinfo
            - libboost-all-dev
            - cmake
          update: true
      env:
        - CROSS_COMPILE=arm-none-eabi-
        - CC=$(CROSS_COMPILE)gcc 
        - CXX=$(CROSS_COMPILE)g++
      git:
        submodules: false
      install:
        - sudo apt remove binutils-arm-none-eabi gcc-arm-none-eabi libnewlib-arm-none-eabi
        - cd ${TRAVIS_BUILD_DIR}
        - wget --quiet https://developer.arm.com/-/media/Files/downloads/gnu-rm/7-2018q2/gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2
        - tar -xf gcc-arm-none-eabi-7-2018-q2-update-linux.tar.bz2
        - cd gcc-arm-none-eabi-7-2018-q2-update
        - export PATH=${TRAVIS_BUILD_DIR}/gcc-arm-none-eabi-7-2018-q2-update/bin/:$PATH
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/setup.sh
      script:
        - cmake . -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF
        - cmake --build . --config Release
      after_success:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} linux-arm m1-transcode
        - cd ${TRAVIS_BUILD_DIR}
        - find m1-transcode-linux-arm -path '*/.*' -prune -o -type f -print | zip m1-transcode-linux-arm.zip -@
        - cp m1-transcode-linux-arm.zip ${TRAVIS_BUILD_DIR}/build/m1-transcode-linux-arm.zip

    - stage: build
      name: m1-transcode Windows
      os: windows
      language: sh
      env:
        - USE_VCPKG=true
        - VCPKG_ROOT="${TRAVIS_BUILD_DIR}/vcpkg"
        - VCPKG_DEFINES="-DCMAKE_TOOLCHAIN_FILE=${TRAVIS_BUILD_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake"
      cache:
        timeout: 1000
        directories:
          - ${TRAVIS_BUILD_DIR}/vcpkg
          - ${TRAVIS_BUILD_DIR}/.cache/vcpkg
      git:
        submodules: false
      install:
        - cd ${TRAVIS_BUILD_DIR}
        - choco install -y cmake --installargs 'ADD_CMAKE_TO_PATH=System'
        - choco install -y make
        - choco install -y awscli
        - choco install -y boost-msvc-14.1
        - choco install -y pkgconfiglite
        - export PATH="$(powershell -Command '("Process", "Machine" | % {[Environment]::GetEnvironmentVariable("PATH", $_) -Split ";" -Replace "\\$", ""} | Select -Unique | % { cygpath $_ }) -Join ":"')"
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install libflac --triplet x86-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install libflac --triplet x64-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install libvorbis --triplet x86-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install libvorbis --triplet x64-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install libogg --triplet x86-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install libogg --triplet x64-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install opus --triplet x86-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install opus --triplet x64-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install mpg123 --triplet x86-windows-static
        - ${TRAVIS_BUILD_DIR}/vcpkg/vcpkg.exe install mpg123 --triplet x64-windows-static
        - cd ${TRAVIS_BUILD_DIR}/m1-transcode
        - ./scripts/setup.sh
      script:
        - cd ${TRAVIS_BUILD_DIR}/m1-transcode
        - cmake . -DENABLE_PACKAGE_CONFIG=ON -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF -DENABLE_STATIC_RUNTIME=ON -DCMAKE_EXE_LINKER_FLAGS="-static" -DCMAKE_TOOLCHAIN_FILE=${TRAVIS_BUILD_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static -B_builds/vs-15-2017 -G "Visual Studio 15 2017" -A Win32 -DCMAKE_INSTALL_PREFIX=_install/vs-15-2017
        - cmake --build _builds/vs-15-2017 --config Release --target install -- //nologo //verbosity:quiet //clp:ErrorsOnly
        - cmake . -DENABLE_PACKAGE_CONFIG=ON -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF -DENABLE_STATIC_RUNTIME=ON -DCMAKE_EXE_LINKER_FLAGS="-static" -DCMAKE_TOOLCHAIN_FILE=${TRAVIS_BUILD_DIR}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static -B_builds/vs-15-2017-win64 -G "Visual Studio 15 2017" -A x64 -DCMAKE_INSTALL_PREFIX=_install/vs-15-2017-win64
        - cmake --build _builds/vs-15-2017-win64 --config Release --target install -- //nologo //verbosity:quiet //clp:ErrorsOnly
      after_success:
        - cd ${TRAVIS_BUILD_DIR}
        # zip up win-x64
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} win-x64 _install\vs-15-2017-win64\bin\m1-transcode.exe
        - find m1-transcode-win-x64 -path '*/.*' -prune -o -type f -print | zip m1-transcode-win-x64.zip -@
        - cp m1-transcode-win-x64.zip ${TRAVIS_BUILD_DIR}/build/m1-transcode-win-x64.zip
        # zip up win-x86
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} win-x86 _install\vs-15-2017\bin\m1-transcode.exe
        - find m1-transcode-win-x86 -path '*/.*' -prune -o -type f -print | zip m1-transcode-win-x86.zip -@
        - cp m1-transcode-win-x86.zip ${TRAVIS_BUILD_DIR}/build/m1-transcode-win-x86.zip

    - stage: build
      name: m1-transcode macOS
      os: osx
      addons:
        homebrew:
          packages:
            - libvorbis
            - libogg
            - flac
            - opus-tools
            - mpg123
            - libpthread-stubs
            - git-lfs
            - rsync
            - awscli
      env:
        - HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK=1
        - HOMEBREW_NO_AUTO_UPDATE=1
      osx_image: xcode13.2
      cache:
        directories:
          - ${TRAVIS_BUILD_DIR}/Library/Caches/Homebrew
      before_cache:
        - brew cleanup
      git:
        submodules: false
      install:
        - ./scripts/setup.sh
      script:
        - cmake . -DENABLE_SHARED=OFF -DBUILD_SHARED_LIBS=OFF -DBUILD_PROGRAMS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF -DADM_EXAMPLES=OFF -DADM_UNIT_TESTS=OFF-DADM_PACKAGE_AND_INSTALL=OFF -DBW64_EXAMPLES=OFF -DBW64_UNIT_TESTS=OFF -DBW64_PACKAGE_AND_INSTALL=OFF
        - cmake --build . --config Release
      after_success:
        - cd ${TRAVIS_BUILD_DIR}
        - ./scripts/packaging.sh ${TRAVIS_BUILD_DIR} osx-x64 m1-transcode
        - find m1-transcode-osx-x64 -path '*/.*' -prune -o -type f -print | zip m1-transcode-osx-x64.zip -@
        - cp m1-transcode-osx-x64.zip ${TRAVIS_BUILD_DIR}/build/m1-transcode-osx-x64.zip

before_deploy: 
  - cd ${TRAVIS_BUILD_DIR}
  - git config user.email "whatsup@mach1.tech"
  - git config user.name "Mach1-Bot"

deploy:
  provider: releases
  api_key:
    secure: pQuG5nGUf30xNXDZazPsewC/FyCwO41zsRUwUvG1+k3uqVUWe3QQLKV8wlwFelECw7X6blWbSMyvqMr5k96Vysk++nGT9yam0zTeRd9AFF/B3fuOnihrLMiS7taIU8P0NE3cB0AvkjHzpiMXpA01lKfzWA6dlcv5ETXowXuCGq1A2yH0iuK5bst3xqjUx/cg369nxFad2CHLOs77a238yrgsMUNPEMwYlz1eSLzLV1Cukrqu1zz7KyVnOrP9kQM5A/UELH/eAYP5FftFmzRjClgBrfY2olCB8dKynU6dnCzElSApAGhd/fbLiHubgf00kbowk4HDMb7PmgoGhzv3IqxMdX672lMEknRGQFsJ/Vr3HZMkSQQfVFxAXcCHPZyaYqgblZqb0bFFl4YXHcsf74z2i7vn5eamdXGmzo2BhSHSOKKnPBPzPl49vy9JgsOK6r92hsQCUvG+ydjPsrYHwKNfJRwuGSFPklUxJOGweu7po9eaQ3g4+PIkF5L0/4loNw1K/UFixGNLAYIVwiu3abySKRkV22cIniIaD7MynUrQo3vRL8THQbml/vZCud8tPKcGDZfrk+QO1d13uQYYawK9TaJ7Vxht8RN/v/LC+clWiRVTT36OViDiUZWp6FlPhR7vLhY0oQqsJi82U+qbyuO/vXPq9QTeC6FdaNsbCs4=
  file_glob: true
  file: build/*
  skip_cleanup: true